
/*Body Style*/

body{
    width: 80%;
    margin:0 auto;
    background-image: url("images/backgroundGrid.jpeg");
}

hr {
    width: 80%;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

p, span {
    font-family: 'Ubuntu', sans-serif;
}

h2, h3, ol{
    font-family: 'Martian Mono', monospace;
}
header, section, #projectTitle{
    background-color: white;
}

hr {
    margin: 0 auto;
}

a {
    text-decoration: none;
}


/*Header area styles*/
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3em solid black;
    align-items: center;
    padding: 0 1em;
}

ol {
    display: flex;
    list-style-type: none;
}

header li{
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.4em;
}

header a:visited{
    color: black;
}

header a:hover{
    color: red;
}

#submenu {
    display: none;
    position: absolute;
    padding: 0;
    
}

#submenu li{
    font-size: 1em;
    background-color: white;
    padding: 0.3em 0.2em;
    text-align: center;
}


/*About section*/
#about{
    display: flex;
    justify-content: space-between;
}

#aboutText{
    width: 65%;
    padding-top: 3em;
    padding-left: 1em;
}
#aboutText p{
    text-align: justify;
    margin: 0 auto;
    font-size: 1.2em;
}

#aboutPicture{
   width: 30%;
   margin-top:4.5em;
}

#aboutPicture img{
    max-width: 80%;
    max-height: 80%;
    padding: 10%;
    border-radius:20%;
}

/*Projects Section*/
#projectTitle{
    text-align: center;
    margin: 0 auto;
    padding: 1em;
}

#projects {
    display: flex;
    padding: 2%;
}

#projects div{
    width: 50%;
}

#projects div img{
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: 0.5em auto;
}

#projects div span{
    font-weight: bold;
    display: block; 
    text-align: center;
}


/*Conctact Style page*/
#contact{
    text-align: center;
}

@media screen and (max-width: 800px) {
    body {
        width: 100%;
    }

    #aboutPicture {
        height: 75%;
        align-self: center;
    }
}

@media screen and (max-width: 500px){
    header{
        flex-direction: column;
    }

    header, nav ol, nav li{
        padding: 0;
    }

    nav{
        width: 100%;
    }

    nav li{
        font-size: 1.3em;
    }

    nav ol{
        justify-content: space-evenly;
    }

    #submenu li{
        background-color: black;
        color: white;
    }

    #submenu a:visited {
        color: white;
    }

    #submenu a:hover {
        color: red;
    }

    #about {
        flex-direction: column;
    }

    #aboutText {
        width: 97%;
        padding: 0.2em;
        font-size: 1em;
        margin: 0 auto;
    }

    #aboutText p {
        font-size: 1em;
    }

    #aboutText h2{
        font-size: 1.4em;
        text-align: center;
    }

    #aboutPicture {
        width: 100%;
        margin-top: 0;
    }

    #aboutPicture img{
        margin: 0 auto;
    }

    #projects {
        flex-flow: column;
    }

    #projects div{
        width: 100%;
    }
}