/*Header area styles*/
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3em solid black;
    align-items: center;
}

ol {
    display: flex;
    list-style-type: none;
}

ol li{
    padding-left: 10px;
}
/*Body Style*/

body{
    width: 80%;
    margin:0 auto;
}

hr {
    width: 80%;
}

/*About section*/
#about{
    display: flex;
    justify-content: space-between;
}

#aboutText{
    width: 65%;
    padding-top: 3em;
}
#aboutText p{
    text-align: justify;
    margin: 0 auto;
}

#aboutPicture{
   width: 30%;
   margin-top:10px;
}

#aboutPicture img{
    max-width: 80%;
    max-height: 80%;
    padding: 10%;
    border-radius:20%;
}

/*Projects Section*/
#projectTitle{
    text-align: center;
}

#projects {
    display: flex;
    padding: 2%;
}

#projects div{
    width: 50%;
}

#projects div img{
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: 0.5em auto;
}

#projects div span{
    font-weight: bold;
    display: block; 
    text-align: center;
}