.genStyle {
    display: block;
    background-color: white;
    margin: 0 auto;
    padding: 1em;
}

.genStyle p, .genStyle ol{
    text-align: justify;
    font-size: 1.2em;
}

#mTitle{
    font-size: 1.6em;
    font-weight: bold;
    padding: 0.5em 0;
    text-align: center;
    color: white;
    background-color: black;
    max-width: 43%;
    margin: 1em auto;
}

 .sTitle{
    padding-top: 1em;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
 }

@media screen and (max-width: 500px){
    #mTitle{
        font-size: 1.5em;
        max-width: 100%;
    }

    .genStyle{
        width: 95%;
        padding: 0 2.5%;
    }

    .genStyle p, .genStyle ol{
        font-size: 1em;
    }
}